<form ng-submit="vm.save($event)">
  <md-toolbar class="md-hue-2 toolbar-fixed">
    <div class="md-toolbar-tools">
      <md-button class="md-icon-button" aria-label="Volver" href="/#!/people">
        <md-icon md-svg-src="img/back.svg"></md-icon>
      </md-button>
      <h2>
        <span>{{vm.izenburua}}</span>
      </h2>
      <span flex></span>
      <md-button class="md-icon-button" aria-label="Volver" type="submit">
        <md-icon md-svg-src="img/save.svg"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  
  <md-content class="full-content md-padding">
    <md-input-container class="md-block">
      <md-icon md-svg-src="img/user.svg" aria-label="Izena"></md-icon>
      <input type="text" ng-model="vm.person.name" placeholder="Izena" required>
    </md-input-container>
    <div md-color-picker ng-model="vm.person.color" md-color-preview flex></div>

    <div ng-if="vm.person.id!=0" layout="row" layout-align="center center">
      <md-button class="md-warn md-raised" ng-click="vm.deletePerson($event)">
        <md-icon md-svg-src="img/delete.svg"></md-icon>
        Ezabatu
      </md-button>
    </div>
  </md-content>
</form>